<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Jacob Vacheresse</mat-card-title>
    <mat-card-subtitle>javacheresse@gmail.com</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image title="Henry Ford Estate, Dearborn, MI" src="/assets/aboutPicture.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <section class="mat-typography">
      <p>
        Hi, I'm a full stack software developer and home baker who plays a lot of Dota 2 :). I graduated from University
        of Michigan - Dearborn in April 2017 with a Bachelors in Computer Science.
      </p>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"> <a href="https://github.com/jvachere">GitHub</a></button>
    <button mat-raised-button color="primary"><a href="https://www.dotabuff.com/players/58464386">Dotabuff</a></button>
  </mat-card-actions>
</mat-card>
