.ingredient-list > div > span {
  display: block;
}

.ingredient-pane {
  top: 200;
  width: calc(1152px * 0.3);
}

.md-ingredient-pane {
  top: 200;
  width: calc(90vw * 0.3);
}

.fixed {
  position: fixed;
}

.recipe-page {
  margin-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}

.scroll-margin {
  position: relative;
  //margin-top: calc((100vh - 84px) * 0.6 - 232px);
}

.mat-display-3 {
  color: #abb3e2;
  font-weight: 800;
}

.light-blue-background {
  background-color: #e4e6f6;
}

.text-optional {
  color: rgba(0, 0, 0, 0.5);
}

.recipe-image {
  position: fixed;
  max-width: 90vw;
  width: auto;
  height: auto;
  top: 64px;
  z-index: -1;
}

.lg-recipe-image {
  max-width: 1152px;
}

.sm-recipe-image {
  max-width: 100%;
  margin-left: -5vw;
}

.lg-steps {
  margin-top: calc((100vh - 84px) * 0.6);
  margin-bottom: 200px;
}

.sm-recipe-page {
  margin-top: calc((100vw * 0.2));
}
