<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="height: 100%;" >
  <mat-toolbar color="primary"  fxLayoutAlign="center center" style="position: fixed; top: 0; z-index: 1;">
    <span fxFlex.gt-md="1152px" fxLayoutGap="10px" fxFlex.lt-lg="90%">
      <span routerLink="/">
        <mat-icon class="app-icon">cake</mat-icon><span>Recipe App</span>
      </span>
      <button mat-button routerLink="/recipes">Recipes</button>
      <button mat-button routerLink="/about">About</button>
    </span>
  </mat-toolbar>
  <div class="app-content" fxLayoutAlign="center start" style="padding-top: 84px;">
    <div fxFlex.gt-md="1152px" fxFlex.lt-lg="90">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
