<div>
  <h1 class="mat-display-3">Recipes</h1>
  <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
  <div gdColumns="repeat(auto-fill, minmax(300px, 1fr))" gdGap="20px 20px">
    <div *ngFor="let recipe of recipes">
      <a [routerLink]="[recipe.id]">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{recipe.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="recipe-image" src="assets/recipeImages/{{recipe?.id}}lg.jpg">
          <div style="margin-top: -70px; margin-bottom: 30px;">
            <mat-chip-list *ngIf="recipe.tags">
              <mat-chip *ngFor="let tag of recipe.tags" color="primary" selected>{{tag}}</mat-chip>
            </mat-chip-list>
          </div>
          <mat-card-content>
            <span class="mat-body-2">
              {{recipe.description}}
            </span>

          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
